@page
@model cuidadoAnimal.App.presentacion.Pages.EditModel
@{
   
}
@*
<h2>Edicion de datos del Propietario</h2>
<form method="post">
    <input type="hidden" asp-for="Propietario.IdPersona"/>
    <div class="form-grup">
        <label asp-for="Propietario.IdPersona"></label>
        <input asp-for="Propietario.IdPersona" class="form-control">
        <span class="text-danger" asp-validation-for="Propietario.IdPersona"></span>
    </div>
<button type="submit" class="btn btn-primary">Guardar</button>

</form>
*@