@page
@model cuidadoAnimal.App.presentacion.Pages.ListaModel
@{
}
<h1>listado de clientes </h1>

<table class="table">
    <h2>estan</h2>
    
    
    @foreach (var propietario in Model.Propietario)
    {
      
      <tr>
      
        <td>@propietario.Nombres</td>
        <td>@propietario.Apellidos</td>
        
        <td>
          
        <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-idpropietario="@propietario.IdPersona">Detalles
             <i class="fas fa-info-circle fa-lg" aria-hidden="true"></i>
             </a>
        </td>
        <td>
          <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-idpropietario="@propietario.IdPersona">Editar
          <i class="fas fa-address-book fa-lg" aria-hidden="true"></i></a>
        </td>
        <td><div class="btn-group pl-5 pr-5" role="group" aria-label="Basic mixed styles example">
                        <a class="btn btn-warning d-inline" asp-area="" asp-page="/Bovinos/EditarBovino"><i class="fas fa-edit"></i> Editar</a>
                        <a class="btn btn-danger d-inline" asp-area="" asp-page="/Bovinos/EliminarBovino"><i class="fas fa-trash-alt"></i> Eliminar</a> 
                    </div></td>

    </tr>  
    }

</table>
<a asp-page=".\ingresar" class="btn btn-primary">Adicionar Propietario</a>
